body {
  margin: 0;
}

.card {
  display: inline-block;
  align-items: center;
  max-width: 800px;
  border: 1px solid #ebeef5;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s ease;
  margin: 2rem auto;

  &:hover {
    box-shadow: 1px 1px 12px 0 #0000001F;
  }

  h2 {
    font-weight: bold;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
  }

  .footer {
    text-align: left;
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0;
    border-top: 1px solid #ebeef5;
    box-sizing: border-box;
    line-height: 1.6;
    p {
      margin: 0.2rem 0;
    }
  }
}

.padding_part {
  padding-top: 1rem;
 }

.monitor_card {
  display: inline-block;
  max-width: 1000px;
  border: 1px solid #ebeef5;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s ease;
  margin: 2rem 2rem;

  &:hover {
    box-shadow: 1px 1px 12px 0 #0000001F;
  }

  h2 {
    padding: 1rem 1.25rem;
    margin: 0;
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
  }
}

.echarts {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
